@import "../../consts";

.b-player-info {
//  display: inline-block;
}

.b-player-info__current-player {
  max-width: 200px;
  margin: auto 0 0 10%;
  float: left;
  text-align: left;
}


.b-player-info__enemy-player {
  margin: auto 10% 0 0;
  float: right;
  text-align: right;
}
