.b-page-top {
  margin: 0 20px 0 20px;
  display: inline; }

.b-page-top__title {
  padding: 10px;
  text-align: left;
  font-size: 35px;
  font-weight: bold; }

.b-page-top__user-info {
  float: right;
  margin: 7px 10px 0 0;
  text-align: right;
  font-size: 30px;
  font-weight: bold; }

.b-menu {
  margin: 55px auto auto auto; }

.b-menu__button {
  display: block;
  margin: 25px auto 25px auto;
  padding: 10px;
  width: 400px;
  height: 60px;
  background: #40c781;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  font-weight: 700;
  font-family: "Comic Sanc MS";
  text-align: center; }

.b-user-form {
  margin: 55px auto auto auto; }

.b-user-form__input {
  display: block;
  margin: 0px auto 25px auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  color: #333333;
  border: 10px solid rgba(255, 255, 255, 0.5);
  font-size: 30px; }

.b-scoreboard {
  margin: 50px auto auto auto;
  padding: 10px; }

.b-battle-status__notification {
  position: relative;
  text-align: center;
  margin: 0 25% 0 25%;
  color: #40c781;
  border-radius: 2px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-weight: bold; }

.b-battle-status__game-result {
  position: inherit;
  text-align: center;
  margin: -250px 30% 150px 30%;
  font-size: 40px;
  font-weight: bold;
  background: gray;
  color: #40c781;
  border: 2px solid;
  border-radius: 2px; }

.b-battle-status__button {
  margin: 10px;
  border: none;
  padding: 10px;
  background: #40c781;
  color: white;
  border-radius: 2px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: bold; }

.b-battlefield {
  margin: 55px auto auto auto;
  width: 318px;
  height: 315px;
  text-align: center;
  display: flex; }

.b-battlefield__cell {
  display: inline; }

.b-battlefield__picture {
  margin: 0 2px 0 2px; }

.b-player-info__current-player {
  max-width: 200px;
  margin: auto 0 0 10%;
  float: left;
  text-align: left; }

.b-player-info__enemy-player {
  margin: auto 10% 0 0;
  float: right;
  text-align: right; }

.b-logout {
  text-align: right; }

.b-logout__button {
  margin: 10px;
  padding: 10px;
  background: gray;
  color: white;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 500;
  text-align: center; }

.b-page-body {
  margin-top: 1%; }

.b-submit-button {
  position: inherit;
  text-align: center;
  margin: 0px 30% 150px 30%; }

.b-submit-button__button {
  margin: 10px;
  padding: 10px;
  width: 150px;
  height: 60px;
  background: #40c781;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  font-weight: 700;
  text-align: center; }

body {
  color: white;
  background: gray;
  font-family: "Comic Sanc MS"; }

label {
  display: block;
  text-align: center; }

a {
  text-decoration: none; }

table {
  margin: auto;
  padding: 5px;
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  background: #40c781;
  border-collapse: collapse;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border: 10px solid rgba(255, 255, 255, 0.5);
  font-size: 25px;
  font-weight: 700;
  text-align: center; }

th {
  padding: 24px;
  background: #40c781;
  border-bottom: 10px solid rgba(255, 255, 255, 0.5);
  /*border-radius: 0px;*/
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

td {
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  color: #333333;
  /*border-radius: 7px;*/
  text-align: center; }

h1 {
  margin: 0; }
