@import "../../consts";

.b-user-form {
  margin: 55px auto auto auto;
}

.b-user-form__input {
  display: block;
  margin: 0px auto 25px auto;
  padding: 10px;
  background: transparentize($white-half, 0);
  color: $names_color;
  border: 10px solid transparentize($white-half, 0);
  font-size: 30px;
}