@import "../../consts";

.b-menu {
  margin: 55px auto auto auto;
}

.b-menu__button {
  display: block;
  margin: 25px auto 25px auto;
  padding: 10px;
  width: 400px;
  height: 60px;
  background: $main_green;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 10px 10px transparentize($black-half, 0);
  font-size: 40px;
  font-weight: 700;
  font-family: $main_font;
  text-align: center;
}
