@import "../../consts";

.b-battle-status__notification {
    position: relative;
    text-align: center;
    margin: 0 25% 0 25%;
    color: $main_green;
    border-radius: 2px;
    box-shadow: 0 5px 5px transparentize($black-half, 0);
    font-size: 30px;
    font-weight: bold;
}

.b-battle-status__game-result {
    position: inherit;
    text-align: center;
    margin: -250px 30% 150px 30%;
    font-size: 40px;
    font-weight: bold;
    background: $main_gray;
    color: $main_green;
    border: 2px solid;
    border-radius: 2px;
}

.b-battle-status__button {
    margin: 10px;
    border: none;
    padding: 10px;
    background: $main_green;
    color: white;
    border-radius: 2px;
    box-shadow: 0 10px 10px transparentize($black-half, 0);
    font-size: 20px;
    font-weight: bold;
}