@import "blocks/b-page-top/b-page-top";
@import "blocks/b-menu/b-menu";
@import "blocks/b-back/b-back";
@import "blocks/b-user-form/b-user-form";
@import "blocks/b-scoreboard/b-scoreboard";
@import "blocks/b-battle-status/b-battle-status";
@import "blocks/b-battlefield/b-battlefield";
@import "blocks/b-player-info/b-player-info";
@import "blocks/b-logout/b-logout";
@import "blocks/b-page-boby/b-page-body";
@import "blocks/b-submit-button/b-submit-button";

body {
    color: white;
    background: $main_gray;
    font-family: $main_font;
}
label {
    display: block;
    text-align: center;
}
a {
    text-decoration: none;
}
table {
    margin: auto;
    padding: 5px;
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    background: $main_green;
    border-collapse: collapse;
    box-shadow: 0 10px 10px transparentize($black-half, 0);
    border: 10px solid transparentize($white-half, 0);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
th {
    padding:24px;
    background: $main_green;
    border-bottom: 10px solid transparentize($white-half, 0);
    /*border-radius: 0px;*/
    text-shadow: 0 1px 1px transparentize($black-half, 0);
}
td {
    padding: 10px;
    background: transparentize($white-half, 0);
    color: $names_color;
    /*border-radius: 7px;*/
    text-align: center;
}
h1 {
    margin: 0;
}
